@tailwind base;
@tailwind components;
@tailwind utilities;

/* opsiyonel: senin resetlerin */
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}